html {
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {     
    background-image: url("../assets/images/carbon.png");
    color: #ffffff;
}

img {
    max-width: 100%;
}

.back{
    margin-top: 2.5rem;
    margin-left: 1.8rem;
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}

a:hover {
    font-size: 1.7rem;
    color: #a52a2a;
    transition: ease 1000ms;
}

p {
    color: #fcfcfc;
    font-size: 1rem;
}

li {
    list-style: none;
}

/* ---------------GLOBALES--------------- */
header .tittle-1 {
    font-weight: 400;
    text-align: center;
    font-size: 2.7rem;
    margin: 3rem 0;
}

.main-index {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.links-nav{
    text-align: center;
}

.links-nav a {
    color: #a52a2a;
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;    
}

.links-nav a:hover {
    font-size: 2.2rem;
    color: #ffffff;
    transition: ease 1000ms;
}

main li {
    margin: 1rem;
}

.imagen-foto img {
    border-radius: 50%;
    width: 300px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;

}

footer ul li svg {
    margin: 0  1rem;
    color: rgb(252, 252, 252);
    font-size: 1rem;
}

/* -----------------FREELANCE------------------- */

.tittle {
    text-align: center;
    font-weight: 700;
    font-size: 2.7rem;
    margin: 0;
    color: #a52a2a;
}

.container-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-works {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.images-works a {
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
    color: #ffffff
}

.images-works img:hover {
    width: 45%;
    transition: ease 1000ms;
}

.container-images img {
    width: 500px;
}

/* -------------------CONTACT------------------- */
.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;         
}

.container-form {
    max-width: 100%;
    margin-top: 2rem;
    width: 100%;
    
}

.form {
    background-image: url("../assets/images/fondo.jpg");
    background-position: center;
    background-size: cover;    
    padding: 3rem;
    border-radius: 0.5rem;   
   
}

.input-form {
    margin-bottom: 1.5rem;
    text-align: center;    
}

.input-form input {
    width: 100%;
    max-width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 700;
    color:#ffffff;
    border: solid grey;
    border-radius: 2rem;
    background-color: rgba(9, 8, 8, 0.7);   
   
}

.input-form textarea {
    margin-top: 1.5rem;
    font-family: sans-serif;
    width: 100%;
    max-width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 700;
    color:#ffffff;
    border: solid grey;
    border-radius: 0.5rem;
    background-color: rgba(9, 8, 8, 0.7);   
}

.input-form input:hover {
    border: solid 2px brown;
}

.input-form textarea:hover {
    border: solid 2px brown;
}

.container-buttons {
    display: flex;
    justify-content: space-evenly;
}

.button {
    width: 35%;
}


/* -------------------ABOUT------------------- */

.foto-about{
    text-align: center;
    display: none;
}

.container-about {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.5rem;
    
    text-align: justify;    
    align-self: center;
}

.logos img {
    width: 100px;    
    border-radius: 50%;
}

.logos-cuadro img {
    width: 150px;
    margin: 0 1rem;
    border-radius: 0.5rem;
}
.container-circulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

.container-cuadro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

/* -------------RESPONSIVE-------------------- */

@media (min-width:480px){
    .main-index {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;        
        justify-content: space-evenly;        
    }

    .links-nav{
        text-align: left;
    }

    .container-form {        
        margin-top: 2rem;
        width: 80%;
    }
}

@media (min-width:768px){
    .input-form input {
        width: 70%;        
    }

    .input-form textarea{
        width: 70%;
    }

    .container-about {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
        align-items: center;
        text-align: justify;
        margin: 2rem;
        align-self: center;
    }
    .foto-about {
        display: block;
    }

    .container-form {        
        margin-top: 2rem;
        width: 70%;
    }
}